#lista-main {
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

#lista-main ul {
    margin: 0 0 0 2em;
}
#lista-main ul li {
    list-style: none;
    margin: 0 0 0 2em;
}
.noShow{
    display: none;
}
.siShow{
    display: block;
}
