a {
	color: #00899f;
}

body {
	margin: 0px;
	padding: 0px;
	margin-bottom: 6px;
	background-color: #fff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

div#horiz {
	width: 500px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	text-align: left;
}
div#header {
	left: 0px;
	margin: 0;
	padding: 0px;
	width: 100%;
	height: 69px;
	background: url(../images/tubes.png) repeat-x white;	
}
body>div#header {
	position: fixed;
}
#header1 {
	position: relative;
	top: 0px;
	left: 0px;
	height: 40px;
	padding: 0px;
	margin: 0px;
}
#user {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #fff;
	float: right;
	text-align: right;
	padding-right: 10px;
}
#user a:link, #user a:visited {
	color: #fff;
	text-decoration: none;
}
#user a:hover {
	text-decoration: underline;
}
#userlogout {
	float: right;
	padding: 10px 10px 0px 0px;
}
#username {
	font-size: 12px;
	font-weight: bold;
	padding-top: 3px;
}
#usernamenotime {
	font-size: 12px;
	font-weight: bold;
	padding-top: 10px;
}
#userdate {
	font-size: 9px;
}
#header2 {
	position: relative;
	top: 0px;
	left: 0px;
	padding-left: 80px;
	height: 21px;
	voice-family: "\"}\""; 
	voice-family: inherit;
	height: 29px;
	z-index: 100;
}
.ign0 {
	/* anti-BUG IE5 */
}

#rightmenu {
	float: right;
	padding: 3px 10px 0px 0px;
	height: 17px;
}
#rightmenu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #fff;
}
#rightmenu select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	background: #eee;
	border: 0px solid #933;
}
#rightmenu input.search {
	width: 200px;
	vertical-align: top;
}
#rightmenu a:link, #rightmenu a:visited {
	color: #555;
	padding: 3px 1px 3px 1px;
	text-decoration: none;
}
#rightmenu a:hover {
	background: url(../images/select.png) repeat-x;
	color: white;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
#rightmenu a.transpicon:hover {
	background: none;
}

#leftmenu {
	float: left;
	padding: 6px 0px 0px 12px;
	height: 17px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #fff;
	font-weight: bold;
}
#leftmenu a:link, #leftmenu a:visited, #rightmenu a:visited {
	color: #555;
	padding: 3px 1px 3px 1px;
	text-decoration: none;
}
#leftmenu a:hover {
	background: url(../images/select.png) repeat-x;
	color: white;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
#leftmenu a.transpicon:hover {
	background: none;
}
#leftmenu a.new:link, #leftmenu a:visited {
	color: #222;
	padding: 3px 1px 3px 1px;
	text-decoration: none;
}
#leftmenu a.new:hover {
	background: url(../images/select.png) repeat-x;
	color: white;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

#menu {
	float: left;
	width: 880px;
	z-index: 150;
}
#menu ul { /* all lists */
	padding: 0px;
	margin: 2px 14px 0px;
	list-style: none;
}
#menu li { /* all list items */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	float: left;
	position: relative;
	color: #555;
	margin: 0px;
	padding: 4px 15px 4px 8px;
	z-index: 55;
	cursor: default;
	-webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
}
#menu li:hover, #menu li.over {
	background: black;
	color: white;
}
#menu li a {
	display: block;
	color: #ddd;
	padding: 2px 8px 2px 8px;
	text-decoration: none;
}
#menu li:hover ul li:hover a, #menu li.over ul li.over a {
	display: block;
	color: white;
}
#menu li:hover ul li:hover ul li a {
	color:#fff;
}
#menu li:hover ul li:hover ul li:hover a {
	color:#37B;
}
#menu li ul { /* second-level lists */
	display: none;
	position: absolute;
	margin: 3px -4px 0px;
	top: 18px;
	left: 4px;
	z-index: 60;
}
#menu li>ul {
   top: auto;
   left: auto;
}
#menu li:hover ul.level1, #menu li.over ul.level1 {
   display: block;
   top: 19px;
   left: 4px;
}
#menu li ul li {
   font-family: Arial, Helvetica, sans-serif;
   position: relative;
   width: 126px;
   margin: 0px;
   padding: 2px 0px 2px 0px;
   font-size: 11px;
   background-color: #363636;
   border-top: 1px dotted #505050;
   cursor: pointer;
   voice-family: "\"}\"";
   voice-family: inherit;
   width: 120px;
	-webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}
.ign1 {
   /* anti-BUG IE5 */
}
#menu li ul li ul { /* third-level lists */
   display: none;
   position: absolute;
   margin: 0px 0px;
   top: 0px;
   left: 126px;
   z-index: 70;
}
#menu li ul li:hover ul, #menu li ul li.over ul {
   display: block;
}
#menu ul li li.more {
   voice-family: "\"}\"";
   voice-family: inherit;
   background-image: url(../images/more.png);
   background-position: right;
   background-repeat:no-repeat;
   padding-right: 12px;
   width: 111px;
}
.ign2 {
	/* anti-BUG IE5 */
}
#menu ul li ul li ul li {
	border-left: 1px solid #b3b3dd;
	border-right: 1px solid #b3b3dd;
	border-bottom: 1px solid #b3b3dd;
	background-color: #4aaacc;
}
#container {
	position: relative;
	top: 20px;
	width: 98%;
	left: 1%;
	z-index: 10;
}

div#container-small{
	width:700px;
	margin:0 auto!important;
	position:relative;
	background-color:#FFF;
}

#filters {
	position: absolute;
	top: -66px;
	right: 10px;
	width: 500px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	text-align: right;
}
#filters select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
}
#filters input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	width: 30px;
	background-color: #ccc;
	border: 1px solid #666;
}
#filters input.fff {
	width: 14px;
}
#content {
	/*position: relative;
	top: 2px; -- IE7 does not like this */
	margin-top: 2px;
	border: 2px solid #353535;
	background: #a1a1a1;
	spadding: 3px;
}
#content2 {
	/*position: relative;
	top: 2px; -- IE7 does not like this */
	margin-top: 2px;
	border: 2px solid #353535;
	background: #a1a1a1;
	spadding: 3px;
	width:1950px;
}
#content h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	margin: 12px 0px 9px 0px;
}
#content p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
/*	margin: 6px 0px 3px 0px; */
	margin: 0;
	padding: 0px;
	background: white;
}
/* TABS */
div.tabmenu {
	clear: both;
	margin: 6px 0px 0px 0px;
}
div.tabmenu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
div.tabmenu li {
	sfont-family: Verdana, Arial, Helvetica, sans-serif;
	sfont-size: x-small;
	font-size: 11px;
	position: relative;
	float: left;
	margin: 0px 3px -1px 0px;
}
div.tabmenu li a:link, div.tabmenu li a:visited {	
	display: block;
	padding: 5px 8px 3px 8px;
	font-weight: bold;
	color: #bbb;
	sborder-top: 1px solid #ccc;
	sborder-left: 1px solid #ccc;
	sborder-right: 1px solid #ccc;
	text-decoration: none;
	background: url(../images/win-tab-ina.png) repeat-x #686868; 
	-webkit-border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
}
div.tabmenu li a:hover {
	color: white;
}
div.tabmenu li.active a:link, div.tabmenu li.active a:visited {
	color: white;
	padding-bottom: 4px;
	sborder-top: 1px solid #999;
	sborder-left: 1px solid #999;
	sborder-right: 1px solid #999;
	sborder-bottom: 1px solid #fff;
	background: url(../images/win-tab-act.png) repeat-x #3d3d3d;
	-webkit-border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
}
div.tabmenu li.active a:hover {
	color: white;	
}
div.tabcontent {
	clear : both;
	border: 2px solid #3e3e3e;
	background: white;
	padding: 1px;
	margin: 0px;
	text-align: left;
}
div.tabcontent h4 {
	margin: 0px;
	padding: 3px;
	background-color: #ccc;
	border: 1px solid #999;
}
div.tabcontent p {
	margin: 0px;
	padding: 3px;
	background-color: #eee;
	border: 1px solid #999;
	border-top: none;
}
div.tabcontent div.sep {
	margin-bottom: 6px;
}
/* TASK LIST */
table.sheet {
	border-top: 11px solid #999;
	border-left: 1px solid #999;
	border: 0px solid #999;
}
fieldset a:link, fieldset a:visited, table.sheet a:link, table.sheet a:visited {
	color: #00c;
	text-decoration: none;
}
table.sheet tr.disabled a:link, table.sheet tr.disabled a:visited {
	color: #666;
}
fieldset a:hover, table.sheet a:hover, table.sheet tr.disabled a:hover {
	text-decoration: underline;
}
table.sheet tr {
	background-color: #eee;
}
table.sheet tr.hover {
	background-color: #d3ecee;
}
table.sheet tr.high {
	background-color: #f99;
}
table.sheet tr.disabled td {
	color: #666;
}
table.sheet th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	text-align: left;
	background: url(../images/tab-first.png) repeat-x #e3e3e3;
	height: 29px;
}
table.sheet th.sortable:hover, table.sheet th.sortable.hover {
	cursor: pointer;
	background-color: #bbb;
}
table.sheet th.cc {
	text-align: center;
}
table.sheet th.rr {
	text-align: right;
}

table.sheet td {
	font-family:Arial, Helvetica, sans-serif;
	font-size: small;
}

table.sheet tr {
	background: url(../images/tab-row.png) repeat-x #eeeeee;
}
table.sheet tr:hover {
	background: url(../images/tab-row-over.png) repeat-x #92e4e9;
}
		

table.sheet th.act, table.sheet td.act {
	text-align: center;
}
table.sheet input, table.sheet textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #fff;
	width: 95%;
}
table.sheet input#bsave {
	width: 27px;
}
table.sheet input.fff {
	width: 12px;
}
table.sheet td.caption{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 5px
	font-weight: bold;
	color: #000;
}
table.sheet td.sts0 {
	font-size: 7px;
	width: 8px;
}
table.sheet td.sts1 {
	font-size: 8px;
	background: #00C000;
	width: 8px;
}
table.sheet td.sts2 {
	font-size: 8px;
	background: #90FF00;
	width: 8px;
}
table.sheet td.sts3 {
	font-size: 8px;
	background: #FFE000;
	width: 8px;
}
table.sheet td.sts4 {
	font-size: 8px;
	background: #FF6000;
	width: 8px;
}
table.sheet td.sts5 {
	font-size: 8px;
	background: #E00000;
	width: 8px;
}
table.sheet td.prio {
	text-align: center;
}
table.sheet td.prio span, #vprio span {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #fff;
	text-align: center;
	padding: 2px 4px 1px 4px;
	width: 14px;
}
table.sheet td.ctsh {
	text-align: center;
}
table.sheet td.ctlg {
	font-size: x-small;
}
table.sheet td.ctsh span {
	font-family: "Courier New", Courier, monospace;
	font-size: 10px;
	color: #fff;
	text-align: center;
	padding: 2px 4px 1px 4px;
	width: 14px;
}
table.sheet td.tablegroupseparator {
	background: #0094a9;

}
table.sheet .emptycell {
	background: white;
}
span.dlate {
	color: #c00;
}
.popupheader span.dlate {
	color: #f55;
	font-weight: bold;
}
span.dday {
	font-weight: bold;
}
span.ddone {
	color: #999;
}
span.dtodo {
	color: #696;
}
.popupheader span.dtodo {
	color: #8b8;
	font-weight: bold;
}
.popupheader span.dday {
	color: white;
}
p.small, span.small {
	font-size: x-small;
}
small, span.discrete {
	font-size: x-small;
	color: #999;	
}
a.small {
	font-size: x-small;
	color: #33c;
	text-decoration: none;
}
a.small:hover {
	color: #00f;
}
/* panels */
#message {
	position: absolute;
	top: 72px;
	left: 50%;
	margin-left: -200px;
	width: 400px;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	background-color: #ffc;
	border: 1px solid #666;
	text-align: center;
	z-index: 40;
}
#message.error {
	background-color: #fcc;
}

/*vikonet.com CLIENTES*/
.clienteHead{
	background:#06C;
	color:#FFF;
	font-size:15px;
	font-family:"Trebuchet MS";
	width:900px;
	overflow:hidden;
	border:1px solid #000;
	margin:auto;
}
.clienteRowOn{
	background:#CCC;
	color:#000;
	font-size:13px;
	font-family:"Trebuchet MS";
	width:900px;
	overflow:hidden;
	margin:auto;
}
.clienteRowOff{
	background:#FFF;
	color:#000;
	font-size:13px;
	font-family:"Trebuchet MS";
	width:900px;
	overflow:hidden;
	margin:auto;
}
.clienteRowOn:hover{
	background:#FF8;
}
.clienteRowOff:hover{
	background:#FF8;
}
.clienteColL{
	float:left;
	text-align:left;
	border:1px solid #FFF;
}
.clienteColC{
	float:left;
	text-align:center;
	border:1px solid #FFF;
}
.clienteColR{
	float:left;
	text-align:right;
	border:1px solid #FFF;
}
div#boxVik{
	position:absolute;
	top:60%;
	left:50%;
	background:none;
	display:none;
	height:auto;
	width:auto;
	margin-left:0px;
	margin-top:0px;
	background:#FFF;
	border:1px solid #006;
}
/*vikonet.com TERMINA CLIENTES */


#fview {
	
	
/*	margin:auto; 
	position:absolute; 
	top:50%; 
	left:50%; 
	margin-top:20px;
	margin-left:350px;*/
	
	position: fixed;
	top: 85px;
	left: 49%;
	margin-left: -350px;
	width: 700px;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	background: url(../images/fviewbg.png) repeat-x #f5f5f5;
	border: 1px solid #666;
	text-align: left;
	z-index: 210;
}

table.setting {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	width: 100%;
}
#fview th {
	color: #666;
	font-weight: normal;
	text-align: left;
}
table.setting th {
	color: #666;
	font-weight: normal;
	text-align: right;
	width: 15%;
}
#fview td, #fview td, table.setting td {
	color: #000;
	text-align: left;
}
#vctxt span {
	font-weight: bold;
}
#fviewmenu {
	float: right;
	text-align: right;
	margin: 5px 8px 5px 0px;
}
#fviewmenu a:link, #fviewmenu a:visited {
	color: #ccc;
	text-decoration: none;
}
#fviewmenu a:hover {
	color: #999;
}
#fviewmenu a img {
	margin-left: 8px;
	padding-top: 2px;
	position: relative;
	top: 1px;
	vertical-align: middle;
}
#fviewmenu img {
	vertical-align: middle;
	margin: 0px 0px 6px 0px;
}
#fviewload, #fviewcontent .ctr {
	text-align: center;
}
#fviewload img {
	margin: 160px 0px 170px 0px;
}
#fview div.flabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999;
	margin-bottom: 3px;
}
#fview div.flabel2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #ccc;
	float: left;
	margin: 3px 20px 3px 0px;
}

/**** Fview 2 ****/

#fview2 {	
	position: fixed;
	left: 49%;
	margin-left: -350px;
	width: 700px;
	padding: 0px 10px 10px 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	background: url(../images/fviewbg.png) repeat-x #f5f5f5;
	border: 1px solid #666;
	text-align: left;
	z-index: 210;
}

#fview2 th {
	color: #666;
	font-weight: normal;
	text-align: left;
}

#fview2 td, #fview2 td, table.setting td {
	color: #000;
	text-align: left;
}
#fview2 div.flabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999;
	margin-bottom: 3px;
}
#fview2 div.flabel2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #ccc;
	float: left;
	margin: 3px 20px 3px 0px;
}

/*****************/

.popupheader {
	background: url(../images/win-head.png) #3d3d3d repeat-x;
	height: 122px;
	display: block;
	width: 720px;
	position: relative;
	top: -10px;
	left: -10px;
}

.popupheadershort {
	background: url(../images/win-head-short.png) #222;
	height: 50px;
	display: block;
	width: 720px;
	position: relative;
	top: -10px;
	left: -10px;
}
.popupheadershort #ftitl {
	padding-top: 10px;
}

#fprio {
	clear: left;
	float: left;
	width: 90px;
	height: 32px;
	margin-left: 10px;
}
#fdead, #fctxt {
	float: left;
	width: 150px;
	height: 32px;
}
#fproj {
	clear: left;
	float: left;
	width: 400px;
	margin: 7px 5px 2px 10px;
	color: #eee;
}
#ftitl {
	clear: left;
	float: left;
	width: 492px;
	margin: 3px 5px 10px 10px;
	font-size: 20px;
	color: white;
	sheight: 40px;
}
#ftitl .flabel { display: none; }
#fproj .flabel { display: none; }
#fuser {
	clear: both;
	float: left;
	width: 240px;
	height: 36px;
	margin-left: 0px;
	margin-bottom: 6px;
}
#fvisi {
	float: left;
	width: 252px;
	height: 36px;
}
#fsts {
	margin: 3px 0px 6px 3px;
}
#flink {
	margin-top: 7px;
}
#vsts {
	float: left;
}

/* Folios */

.folioHeader{
	background-color:#999999;
	color:#FFF;
	font-size:15px;
	font-family:"Trebuchet MS";
	width:900px;
	overflow:hidden;
	border:1px solid #666666;
	margin:auto;
}
.folioRowOn{
	background:#CCC;
	color:#000;
	font-size:13px;
	font-family:"Trebuchet MS";
	width:900px;
	overflow:hidden;
	margin:auto;
}
.folioRowOff{
	background:#FFF;
	color:#000;
	font-size:13px;
	font-family:"Trebuchet MS";
	width:900px;
	overflow:hidden;
	margin:auto;
}
.folioRowOn:hover{
	background:#FF8;
}
.folioRowOff:hover{
	background:#FF8;
}
.folioCol{
	float:left;
	border:1px solid #FFF;
}
.folioColHeader{
	float:left;
	border:1px solid #FFF;
	height:30px;
	padding-top:5px;
}

/* End Folios */

.tblHeader{
	background-color:#999999;
	color:#FFF;
	font-size:15px;
	font-family:"Trebuchet MS";
	overflow:hidden;
	border:1px solid #666666;
	margin:auto;
}

.tblHeaderBlack{
	background-color:#000000;
	color:#FFF;
	font-size:15px;
	font-family:"Trebuchet MS";
	overflow:hidden;
	border:1px solid #666666;
	margin:auto;
}

/* Forms */

.m{
	width: 680px;
	padding: 10px;
	height: auto;
}
.l{
	width: 140px;
	margin: 0px;
	padding: 0px; 
	float: left;
	text-align: right;
}
.r{
	width: 300px;
	margin: 0px;
	padding: 0px; 
	float: right; 
	text-align: left;
}
.a{
	clear: both;
	width: 470px;
	padding: 10px;
}

.txtRed{
	color:#FF0000;
	font-size:12px;
	font-weight:bold;
}

.txtGreen{
	color:#009933;
	font-size:12px;
	font-weight:bold;
}

/* End Forms */

.txtGral{
	color:#000;
	font-size:13px;
	font-family:"Trebuchet MS";
}

#titAdmin {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #fff;
	float: left;
	text-align: left;
	padding-left: 10px;
	font-size: 12px;
	font-weight: bold;
	padding-top: 8px;
}
.spanGetCE,
.spanDelete,
.spanEdit{
	cursor:pointer;
}
.msgConfirmation{
	color:#009900;
}
.msgConfirm{
	color:#009900;
	font-size:14px;
}
.msgError{
	color:#FF0000;
	font-size:14px;
}
.msgError2{
	color:#FF0000;
	font-size:10px;
}
.txtGral a:link,
.txtGral a:visited{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
}
.bgRed{
	background-color:#990000;
	color:#FFFFFF;
}
.bgYellow{
	background-color:#FFCC00;
}
#divPartida{
	border:1px solid #000; 
	margin:5px;
	padding:5px; 
	width:200px;
	font-size:12px;
	background-color:#CCCCCC;
	display:none;
}
.lnkRegresar a:link,
.lnkRegresar a:visited{
	font-size:12px;
	text-decoration:none;
}
.lnkRegresar a:hover{
	font-size:12px;
	text-decoration:underline;
}

