/nbproject/private/
/archivos
/documentos
/expedientes
/empresas
/requerimientos
/tasks
/templates_c
/ajax/templates_c
/temp
/payments
/db
/.sync
/.idea
config.php
javascript/js-config.js
/.svn
/dev
/sendFiles
/vendor
cron-nuevo/facturas.txt
cron/alerts.txt
cron/create13.txt
cron/facturas_log.txt
cron/facturas.txt
cron/facturasnew.txt
cron/nstances_log.txt
cron/send-comprobantes.txt
cron-nuevo/repatrasados.txt
cron-nuevo/repatrasados.txtt
cron-nuevo/repfiel.txt
cron-nuevo/repdocper.txt
cron-nuevo/templates_c
exportar.xlsx
cron-nuevo/repbitacora.txt
cron-nuevo/repcobranza.txt
cron-nuevo/repbonos.txt
cron-nuevo/changepassword.txt
cron-nuevo/contractslog.txt
cron-nuevo/sendrazon.txt
cron-nuevo/*.txt


cron/.facturas_log.txt.swp
export/templates_c
contracts.log