/nbproject/private/
/archivos
/documentos
/empresas
/requerimientos
/tasks
/templates_c
/ajax/templates_c
/temp
/payments
/db
/.sync
/.idea
config.php
javascript/js-config.js
/.svn
/dev
/sendFiles
/vendor
cron-nuevo/facturas.txt
cron/alerts.txt
cron/create13.txt
cron/facturas_log.txt
cron/facturas.txt
cron/facturasnew.txt
cron/nstances_log.txt
cron/send-comprobantes.txt
cron-nuevo/repatrasados.txt
cron-nuevo/templates_c
exportar.xlsx
cron-nuevo/repbitacora.txt
contracts.log