/* 
	CSS Document 
	------------------------------------------------------------------------------------------------------
	------------------------------------------------------------------------------------------------------
		 
	Hoja de estilo que modifica los estilos para: 
	
	pa_a: Particulares España GBP
	
	
	------------------------------------------------------------------------------------------------------
*/

a, *:link, *:visited {
	color: #9B8D68;
    text-decoration: underline;
}

div#mainXtra a, div#mainXtra .listLeft .relBar .text a, div#mainXtra .listLeft .relBar .text a:visited,  
a.link, #pagina #contenido a, #pagina #contenido a:visited, #pagina a.hrefChange, .tabla_general .enlace_tg, .enlace_tg, .enlacePagOK, .link_favoritos a {
    color: #9B8D68;
    text-decoration: underline;
}

div#mainXtra a:hover, div#mainXtra .listLeft .relBar .text a:hover, a.link:hover, #pagina #contenido a:hover,
#pagina a.hrefChange:hover, .tabla_general .enlace_tg:hover, .enlace_tg:hover, .link_favoritos, .enlacePagOK:hover, a:hover {
    color: #A42B48;
    text-decoration: underline;
}

/* Estilos para la cabecera principal */
div#headPage .cabecera a:link,div#headPage .cabecera a:visited {
	color: white;	
}

div#headPage .cabecera a:hover {
	color: white;	
}

ul.horizontal li {
	color: white;
}

/* Estilo para arreglar los link que vienen por ajax en posicion integral en IE6 */
.hrefChangeHover {
	color: #A42B48;
    text-decoration: underline;
}
	
#pagina #contenido .tabla_general .fila_titulo, #contenido .tabla_general .fila_titulo, #tabla_generica_operaciones .tabla_general .fila_titulo, .tabla_general .fila_titulo, table.tabla_general th {
	background-color: #E4CEA9;
}

#pagina #contenido .tabla_general .fila_titulo .col, #contenido .tabla_general .fila_titulo .col, #tabla_generica_operaciones .tabla_general .fila_titulo .col, .tabla_general .fila_titulo .col, table.tabla_general th {
	color: #464646;	
}

.tabla_estandar .tabla_contenido .fila_titular {
	background-color: #E4CEA9;
}

.tabla_estandar .tabla_contenido .fila_titular {
	color: #464646;
}

.link_favoritos {
	/* Añade el tipo de letra en la pantalla modal de operaciones favoritas */
    font: 11px Verdana,Arial,Helvetica,sans-serif;
}

div#mainXtra .titleMult {
    background: url("../index_files/fondo-h1-pa_a.gif") no-repeat scroll left top transparent;
    color: #A42B48;
    font-size: 25px;
    padding-bottom: 20px;
    padding-left: 55px;
	margin-left: 120px;    	
}

div#mainXtra .headMult, .headDesconexion {
    height: 116px;
    width: 990px;
    border:0;
    background-image:url('../index_files/onlyHead-pa_a.gif');
}

div#mainXtra .footerContentMult, div#pagina .footerContentMultCV {
	color: white; 
	text-align: right; 
	padding-right: 40px;
	padding-top: 55px; 
	font-size: 11px;
}

div#mainXtra .footerMult {
	background: url("../index_files/only-footer-pa_a.gif") no-repeat;
	clear: left;
	width: 990px;
	height: 127px;
}

#pagina .footer_c {
	background: url("../index_files/only-footer-pa_a.gif") no-repeat;
	clear: left;
	width: 990px;
	height: 127px;
}

div#pagina .footerMult_a{
    background: url("../index_files/footer-normal-pa_a.gif") no-repeat scroll left top #FFFFFF;
    clear: both;
    color: #FFFFFF;
    font: 11px/1em Verdana,Arial,Helvetica,sans-serif;
    height: 126px;
    padding-bottom: 7px;
    width: 990px;
}

div#pagina #footerCV {
	background:  url("../index_files/footer-normal-pa_a.gif") no-repeat scroll left top #FFF;
	clear: left;
	width: 990px;
	height: 127px;
	float:left;
}

div#mainXtra .listRightMult {
    background: url("../index_files/login-list-right-pa_a.gif") no-repeat scroll 0 0 transparent;
    float: left;
    min-height: 410px;
    _height: 410px;
    width: 65px;
}

div#pagina .enlaceFooter {
    margin-top:10px;
    color: #FFFFFF;
    text-decoration: underline;
}

div#mainXtra .footerContentMult a {
    color: white;
}

div#mainXtra .footerContentMult a:hover {
    color: white;
}

div#mainXtra .icoDNIMult {
    float: left;
    background: url("../index_files/electronic-dni.gif");
    width: 42px;
    height: 26px;
    margin-left: 17px;
    _margin-left:2px;
    margin-top: 7px;
    _margin-top:4px;
}

div#mainXtra .iconMult {
    background-image: url("../index_files/icon-lock-pa_a.gif");
    height: 47px;
    margin-left: 51px;
    margin-top: 44px;
    width: 47px;
}

div#mainXtra .textDNIMult{
    float: left;
    font-size: 10px;
    margin-left: 10px;
    margin-top: 15px;
    _margin-top:9px;
}

div#mainXtra .subfooterMult {
    background: url("../index_files/only-box-footer-pa_a.gif");
    width:565px;
    height:22px;
}

div#mainXtra #derechosMult {
    border: 0px solid blue; 
    margin-top: -50px; 
    color: white;
}

div#mainXtra .boxBacgroundMult {
    _margin-top:-3px; 
    background: url("../index_files/only-background-pa_a.gif") repeat-y scroll left top transparent;
    float: left;
    width: 990px;
}

div#mainXtra .formContent form {
    margin:0px;
}

div#mainXtra div.linkMult {
    font-size: 10px;
    margin: 1px 119px 10px 167px;
    _margin: 1px 119px 10px 152px;
}

div#mainXtra .linkMult2 {
    float: right;
    font-size: 10px;
    margin-bottom: 10px;
    margin-right: 157px;
    margin-top: 1px;
    _margin-top:3px;
}

div#mainXtra #cajaUsuMult {
    width:400px;
    clear:both;
}

div#mainXtra .botonMult {
    padding:0 15px; 
    *padding:0 8px;
}

div#mainXtra .listLeft .box .content .formContent .elementButtonMult1 {
    clear:both;
    float: right;
    margin-right: 84px;
    margin-top: 10px;
}

div#mainXtra .separatorMult {
    background-image:url('../index_files/separatorBar.gif');
    float: left;
    height: 17px;
    width: 24px;
    margin: 0 2px;
}

div#mainXtra .subTitleMult {
    font-size: 20px;
}

div#mainXtra .listLeft .box .subheadMult { 
    width:565px;
    height:13px;
    background:url('../index_files/only-box-head-pa_a.gif') no-repeat;
    margin-bottom: 0;
    _margin-bottom: -5px;
}

div#mainXtra .lineaHorizontalMult hr {
	width: 750px;
	_width: 735px;
	margin:8px 61px 15px 120px;	
	border-top: #BF1C3A thin dashed; 
	border-bottom-style: none;	
}

div#mainXtra .headOperationMult {
	background: url(../index_files/pinkHead-pa_a.gif) no-repeat;
	width: 746px;
	height: 12px;
	_margin-bottom: -2px;	/* Añadido por clave provisional */
}

div#operationTitleData .content .frameMult {
	clear:both;
	_float: left;
	background: url(../index_files/pinkBackground-pa_a.gif) top left repeat-y;
	padding: 0 5px 0 1px;
	width: 746px;
	height: 20px;
	_margin-top: -6px;
}

div#operationTitleData .content .frameMult form {
	margin:0px;
	padding:0px;
}

div#operationTitleData .content .frameMult .seeAll {
	float: right;
	font-size: 11px;
	margin: -18px 14px 0 0;
	_margin: -20px 8px 0 0;
	margin-top: 10px;
	margin-bottom: 10px;
}

div#operationTitleData .content .frameMult .nameUser {
	float: left;
	color: #A42B48;
	font-size: 11px;
	font-weight: bold;
	margin: 0 0 5px 12px;
	_margin: 0 0 5px 5px;
	background: none;
}

div#operationTitleData .content .frameMult .date {
	float: right;
	font-size: 11px;
	margin: 0 12px 5px 0;
}

div#operationTitleData .content .frameMult .contractNo {
	float: right;
	color: #A42B48;
	font-size: 11px;
	font-weight: bold;
	margin: 0 12px 5px 0;
}

div#mainXtra .listLeft .activaTarjetas {
	font-weight: normal;
	font-size: 12px;
}

div#mainXtra .listLeft #contents {
	margin-left: 130px;
    width: 726px;
}

div#operationTitleData .content .down {
	width: 746px;
	height: 16px;	
	background-image: url(../index_files/downPink-pa_a.png) !important;
 	background-image: none;
 	/*filter: none !important;*/
 	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../index_files/downPink-pa_a.png);
	/*_margin-top: 2px;  /* Añadido por clave provisional */
}

div#mainXtra .listLeft {
	float: left;
	width: 925px;
	min-height: 410px;
}

div#mainXtra .listLeft .relBar .separatorMult {
	float: left;
	background: url(../index_files/separatorBar.gif); 
	width: 24px; 	
	height: 17px;
	margin: 0 2px;
}

div#mainXtra  .listLeft .titleMult {
	background: transparent url(../index_files/fondo-h1-pa_a.gif) no-repeat scroll left top;
	color: #A42B48;
	font-size: 25px;
	padding-bottom: 20px;
	margin-left: 165px;
	padding-left: 55px;
}

div#mainXtra .listLeft .titleMult .subTitle {
	font-size: 20px;
}

div#mainXtra .breakMult {
	/*background: url(../index_files/tras.gif) no-repeat;	*/
}

div#mainXtra .derechos {
	border: 0px solid blue; 
	margin-top: -50px; 
	color: white;
	text-align: right;
}

div#mainXtra .listLeft .colText1 {
	width: 215px; 
	margin-left: 120px;
	_margin-left: 60px;
}

div#mainXtra .listLeft .colText2 {
	width: 346px;
}

div#mainXtra .colText3 {
	width: 190px;
}

div#mainXtra .colText4 {
	width: 104px;
}

div#mainXtra .colText5 {
	width: 86px;
}

div#mainXtra .colData1 {
	width: 215px; 
	margin-left: 120px;
	_margin-left: 60px;
}

div#mainXtra .colData2 {
	width: 346px;
	_margin-top:10px;
}

div#mainXtra .colData3 {
	width: 190px;
}

div#mainXtra .colData4 {
	width: 104px;
}

div#mainXtra .colData5 {
	width: 86px;
}

div#mainXtra .colData6 {
	width: 215px; 
	margin-left: 120px;
	_margin-left:60px;
}

div#mainXtra .colData7 {
	width: 86px;
	width: 346px;
	_margin-top:-5px;
}

div#mainXtra .colData8 {
	width: 190px;
}

div#mainXtra .colData9 {
	width: 104px;
}

div#mainXtra .colData10 {
	width: 86px;
}

.separadorMult {	
	margin: 50px 0 0 50px;
}

div#mainXtra .listLeft .lineDataMult {
	clear: both;
	border-bottom: 1px solid #ebebeb;
	margin: 0 57px 0 121px;
	padding-top: 10px;
	_padding-top: 0px;
}

div#mainXtra .txtnMult {
	font-size: 13px;
}

.seleccionContratoMult {
	text-align:center;
}

.elementButtonMult {
	
}

.botonECOM {
	
}

div#mainXtra .footerMult, div#pagina .footerMult {
	
}

/* ///////////////////////////////////////////////////////////////////////////////// */
/* // 						FIN ESTILOS	WARNING									  // */
/* ///////////////////////////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////////////////////////////// */
/* // 				ESTILOS DEFINIDOS PARA LINK DE PRIMER ACCESO				  // */
/* ///////////////////////////////////////////////////////////////////////////////// */
.passRecover{float:left;width:63%;font-size: 10px; text-align: right; margin-bottom:10px;}
.firstAccess{float:right;width:37%;font-size: 10px; margin-bottom:10px;}
div#mainXtra .firstAccessLink{color:orange;}



/* ///////////////////////////////////////////////////////////////////////////////// */
/* // 						COMIENZO ESTILOS NORMALIZADOS						  // */
/* ///////////////////////////////////////////////////////////////////////////////// */

div#mainXtra .head, #pagina .head {
	height: 116px;
	width: 990px;
	border: 0;
	background-image: url('../index_files/onlyHead-pa_a.gif');
}

/* Para cabecera_provisional.htx */
div#mainXtra .headProvisional {
	height: 116px;
	width: 990px;
	border: 0;
	background-image: url('../index_files/onlyHead-pa_a.gif');
}

div#mainXtra .headProvisional .info2 a {
	color: white;
}

div#mainXtra .head2 {
    background: url("../index_files/onlyBody-pa_a.gif") no-repeat scroll 0 0 transparent;
    height: 38px;
    width: 990px;
}

div#mainXtra .headOperation {
	background: url(../index_files/pinkHead-pa_a.gif) no-repeat;
	width: 746px;
	height: 12px;
	_margin-bottom: -2px;	/* Añadido por clave provisional */
}

.pasos_proceso {
	margin-top:20px;
	_margin-top: 20px;
}

div#mainXtra .boxBacground {
    _margin-top:-3px; 
    background: url("../index_files/only-background-pa_a.gif") repeat-y scroll left top transparent;
    float: left;
    width: 990px;
}

div#mainXtra .listLeft .title {
	background: transparent url(../index_files/fondo-h1-pa_a.gif) no-repeat scroll left top;
	color: #A42B48;
	font-size: 25px;
	padding-bottom: 20px;
	margin-left: 165px;
	padding-left: 55px;
}

div#mainXtra .listLeft .box .head {
	width: 565px;
	height: 13px;
	background: url('../index_files/only-box-head-pa_a.gif') no-repeat;
	margin-bottom: 0;
	_margin-bottom: -5px;
}

div#mainXtra .listLeft .box .content
{
	height: 172px;
	background: url(../index_files/only-box-background-pa_a.gif) repeat-y;
}

div#mainXtra .listLeft .contractSelect #operationTitleData {
    background-image: none;
	float: left;
	width: 772px;
    font-size: 12px;
    height:0px;
}

div#mainXtra .listLeft .box .content .leftPart .icon {
	background: url("../index_files/icon-lock.gif") no-repeat;
	height: 47px;
	width: 47px;
	margin-left: 51px;
	margin-top: 44px;
	padding-top: 0px;
	padding-left: 0px;	
}

div#mainXtra .listLeft .box .footer {
	background: url("../index_files/only-box-footer-pa_a.gif") no-repeat;
	clear: left;
	width: 565px;
	height: 22px;
}

div#mainXtra .lineHorizontal, div#mainXtra .listLeft .lineHorizontal  {
	width: 750px;
	_width: 735px;
	margin: 8px 61px 15px 120px;
	border: 1px dashed #BF1C3A;
	border-bottom-style: none;
	border-right-style: none;
	border-left-style: none;
}

div#mainXtra .footer {
	background: url("../index_files/only-footer-pa_a.gif") no-repeat;
	clear: left;
	width: 990px;
	height: 127px;
}

div#mainXtra .listRight {
	float: left;
	min-height: 410px;
	_height: 425px;
	width: 65px;
	background: url('../index_files/login-list-right-pa_a.gif') no-repeat;
}

div#mainXtra .listLeft .relBar .separator {
    background-image:url('../index_files/separatorBar.gif');
    float: left;
    height: 17px;
    width: 24px;
    margin: 0 2px;
}

.dnie {
	background: url("../index_files/eDNI_grande.jpg") no-repeat;
	width: 140px;
	height: 100px;
	padding-top:0px; 
	padding-left:0px; 
	margin-top:25px; 
	margin-left:10px;
}

div#mainXtra .copyright, div#pagina .copyright {
	color: #FFF;
}

div#mainXtra .aviso, div#pagina .aviso {
	color:#FFF;
}

div#mainXtra .aviso a, div#pagina .aviso a {
	color: #FFF;
}

a .enlaceFooter {
	
}

/* ///////////////////////////////////////////////////////////////////////////////// */
/* // 						ESTILOS PÁG. HTML									  // */
/* ///////////////////////////////////////////////////////////////////////////////// */

#pagina div#operationTitleData{
	background: url("../index_files/mayaUp-pa_a.gif") no-repeat scroll right bottom transparent
}

#pagina .listRight {
	float: right;
	min-height: 260px;
	_height: 275px;
	width: 65px;
	background: url('../index_files/login-list-right-pa_a.gif') no-repeat;
}

#pagina .listLeft #contenido {
	float: left;    
    width: 670px;
    padding-left: 230px;
    _padding-left: 220px;
}

#pagina .listLeft {
	background:transparent url(../index_files/only-background-pa_a.gif) repeat-y scroll left top;
	width:990px;
	float: left;
}

#pagina .listLeft #contenido .encabezado {
	background: url("../index_files/fondo-h1-pa_a.gif") no-repeat;	
	padding-left: 0px;	
	padding-top:2px;
	margin-left: 10px;
    width: 711px;   
    height: 30px;    
}

#pagina #contenido .encabezadoForm, .encabezadoFormEmpresa {
	background: url("../index_files/fondo-h1-pa_a.gif") no-repeat;	
	padding-left: 0px;	
	padding-top:2px;
	margin-left: 10px;
    width: 711px;   
    height: 35px;  /* Insertado para formularios */ 
}

#pagina .listLeft #contenido .encabezado .texto, #pagina #contenido .encabezadoForm .texto, .encabezadoFormEmpresa .texto {
    color: #BF1C3A;
    cursor: auto;
    font: 22px/1.2em Verdana,Arial,Helvetica,sans-serif;
    margin-bottom: 10px;
    padding-left: 60px;
}

#pagina #footer, #pagina .footerContent .footer {
	background: transparent url(../index_files/only-footer-pa_a.gif) no-repeat scroll 0 0;
	clear:left;
	height:127px;
	width:990px;
	margin-top: 250px;
	_margin-top: 0px;	
	*margin-top: 0px;		
}

#pagina .footerContent {	
	color: white;
	float: right;
	font-size: 11px;
	text-align: right; 
	padding-right: 40px;
	padding-top: 60px;	
	font-size: 11px;	
	_padding-bottom: 5px;	
}

div#pagina .footerContentMult{
	color: white;
    float: right;
    font-size: 11px;
    padding-right: 40px;
    padding-top: 60px;
    text-align: right;
}

#pagina #footer a:link, #pagina #footer a:visited, #pagina .footer a:link, #pagina .footer a:visited {
    color: #FFFFFF;
    text-decoration: underline;
}

div#operationTitleData .content .frame .footer {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #555555;
    font-size: 11px;
    font-weight: normal;
    height: 44px;
    margin-top: 0;
    width: 741px;
}

/* ///////////////////////////////////////////////////////////////////////////////// */
/* // 						MENUS y CABECERA									  // */
/* ///////////////////////////////////////////////////////////////////////////////// */

div#headPage .cabecera .up {
	height: 60px;
	width: 990px;
	background: url(../index_files/head-up-pa_a.gif) left top no-repeat;
}

div#headPage .cabecera .down {
	height: 60px;
	width: 990px;
	background: url(../index_files/head-background-pa_a.gif) left top no-repeat;
}

div#headPage .cabecera .down .horizontal .menu a:hover, div#headPage .cabecera .down .horizontal .menu a:focus {
	background: url(../index_files/head-background-pa_a-hover.gif) top center;
}

.submenus-li-pa_a{
	background: url('../index_files/submenuBackgroundBody-pa_a.gif') top left repeat-y;
}

.submenus-li-em_a{
	background: url('../index_files/submenuBackgroundBody-em_a.gif') top left repeat-y;
}

#headErrors{
    height: 78px;
    width: 990px;
    background: url(../index_files/head-up-pa_a.gif) left top no-repeat;
}

/* ///////////////////////////////////////////////////////////////////////////////// */
/* // 						PAGINAS MODALES 									  // */
/* ///////////////////////////////////////////////////////////////////////////////// */

.encabezadoMult {
	background: url("../index_files/fondo-h1-pa_a.gif") no-repeat scroll left top transparent;
	font-size: 25px;
	padding-bottom: 20px;
	padding-left: 55px;
}

.encabezadoModal {
	background: url("../index_files/fondo-h1-pa_a.gif") no-repeat scroll left top transparent;
	font-size: 25px;
	padding-bottom: 20px;
	font: 22px/1.2em Verdana, Arial, Helvetica, sans-serif;
}

/* ///////////////////////////////////////////////////////////////////////////////// */
/* // 						Operativas 									          // */
/* ///////////////////////////////////////////////////////////////////////////////// */

div#operationTitleData .content .frame {
    background: url("../index_files/pinkBackground-pa_a.gif") repeat-y scroll left top transparent;
    padding: 0 5px 0 1px;
    width: 746px;
}

div#pagina div#operationTitleData {
    background: url("../index_files/mayaUp-pa_a.gif") no-repeat scroll right bottom transparent;
    float: right;
    height: 165px;
    width: 772px;
}

div#pagina .footerMult{
    background: url("../index_files/footer-normal-pa_a.gif") no-repeat scroll left top #FFFFFF;
    clear: both;
    color: #FFFFFF;
    font: 11px/1em Verdana,Arial,Helvetica,sans-serif;
    height: 126px;
    padding-bottom: 7px;
    width: 990px;
}

.encabezadoOperativas {
    background: url("../index_files/fondo-h1-pa_a.gif") no-repeat scroll left top transparent;
    font-size: 25px;
    padding-bottom: 10px;
    background-position: 0px 5px;
}

#contenido .encabezadoOperativas .texto .tituloOperativas {
    padding-left: 0px;	
}

div#operationTitleData .content .frame .body {
   
}

/* ///////////////////////////////////////////////////////////////////////////////// */
/*  							     NUEVO - BLOQUE 3 								 */
/* ///////////////////////////////////////////////////////////////////////////////// */

#contenido .ayuda_contextual {
	background-color: #F3EEDD;
    border: 1px solid #D0BC76;
    color: #5B491F;
    float: right;
    height: auto;
    margin-left: 70px;
    padding: 5px 10px 20px;
    position: absolute;
    visibility: hidden;
    width: 274px;
    z-index: 2;
}

#contenido .ayuda_contextual .cerrar {
	color: #5B491F;
    cursor: pointer;
    float: right;
    font: 11px Verdana,Arial,Helvetica,sans-serif;
}

#contenido .ayuda_contextual .cerrar .sub {
	color: #5B491F;
    text-decoration: underline;
}

#contenido .ayuda_contextual .cont {
	font: 11px Verdana,Arial,Helvetica,sans-serif;
    padding-top: 20px;
}

#contenido .ayuda_contextual .cont .titulo {
	color: #5B491F;
    font-weight: bold;
}

#contenido .ayuda_contextual .cont .parrafo {
	color: #000000;
    line-height: 16px;
    padding-top: 16px;
}

#contenido .ayuda_contextual .cont a {
	color: #5B491F;
}

.alertas_concretas {
    color: #5B491F;
    font: 11px Verdana,Arial,Helvetica,sans-serif;
    width: 711px;    
    padding-top: 20px;		/* Añadido para emular espacio_tipo_20 */
}

/* ///////////////////////////////////////////////////////////////////////////////// */
/*					     BLOQUE 2 - 50_pan_767_pro.htx 								 */
/* ///////////////////////////////////////////////////////////////////////////////// */

#pagina #mainXtra .listLeft .cabecera  {	
	background: url(../index_files/titleWelcome-pa_a.jpg) no-repeat scroll left bottom; 
	width: 830px; 
	height: 42px; 
	margin-left:80px;
	margin-bottom: 15px;
	-moz-background-clip: -moz-initial; 
	-moz-background-origin: -moz-initial; 
	-moz-background-inline-policy: -moz-initial; 	
}

#pagina #mainXtra .listLeft .encabezadoPreguntasNew {
	background: url(../index_files/welcomeIcon-pa_a.gif) no-repeat;
	padding-top:2px;
	margin-left: 10px;
    width: 711px;   
    height: 25px; 
}
.encabezadoPreguntasNew .textoPreguntasNew {
	margin-left: 30px;
}

#pagina #mainXtra .listLeft .botonCampania1 {
	background: url(../index_files/boton-campania4.jpg) no-repeat scroll left bottom;  
	height: 50px;
	width:250px; 
	-moz-background-clip: -moz-initial; 
	-moz-background-origin: -moz-initial; 
	-moz-background-inline-policy: -moz-initial;
	float:left;
	margin-left:150px;
	_margin-left: 80px;
}

#pagina #mainXtra .listLeft .botonCampania2 {
	background: url(../index_files/boton-campania4.jpg) no-repeat scroll left bottom;  
	height: 50px;
	width:250px; 
	-moz-background-clip: -moz-initial; 
	-moz-background-origin: -moz-initial; 
	-moz-background-inline-policy: -moz-initial;
	margin-left:450px;
}

/* ///////////////////////////////////////////////////////////////////////////////// */
/* // 						IE 													  // */
/* ///////////////////////////////////////////////////////////////////////////////// */

ul.horizontal li.iETO{
	_padding-left: 5px;
	color: white;
}

/* ///////////////////////////////////////////////////////////////////////////////// */
/* // 						ALERTAS												  // */
/* ///////////////////////////////////////////////////////////////////////////////// */

.alerta2 {

	width:190px;
	margin-top:-6px;
}

.alertaPopUp {
	width: 202px;
	background: url("../index_files/welcomeRoundedUp-pa_a.gif") no-repeat left top;
	height: 18px;
	_height: 11px;
}

.alertaPopUpBody {

	margin-left:140px;
	margin-top:5px;
	_margin-top:-1px;
}

.alertaPopUpEnlace {
	
	font-size:9px;
	color:#777777;
	margin-top:0px;
	_margin-top:5px;	
}

.alerta2 .alerta {
	
	position: relative;
	float: left;
	width: 202px;
	text-align: left;
	font: 12px/1em Verdana, Arial, Helvetica, sans-serif;
	margin: 0px 0px 0px 0px;
	_margin: 0px;
	z-index: 10;	
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(../index_files/welcomeRoundedBackground-pa_a.gif);
	background-position: left top;
	background-repeat: repeat-y;
}

/* ///////////////////////////////////////////////////////////////////////////////// */
/* // 				BUSCADOR IDENTIFICACION_SEL - BLOQUE 2						  // */
/* ///////////////////////////////////////////////////////////////////////////////// */


div#operationTitleData .content .frameMult .searchTitle {
    font-size: 11px;
    margin: 6px 0 5px 11px;
}

div#operationTitleData .content .frameMult .break {
    background-color: #F1C8D0;
    clear: both;
    height: 1px;
    margin: 0 14px 0 10px;
    width: 722px;
}

div#operationTitleData .content .frameMult .searchData {
    float: left;
    font-size: 11px;
    margin: 5px 0 5px 11px;
}

div#mainXtra .lineHorizontal2, div#mainXtra .listLeft .lineHorizontal2  {
    width: 700 px;
    padding-top: 20px;
    margin-left: 14px;
    margin-right: 14px;
    border: 1px solid #F1C8D0;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
}

/* ///////////////////////////////////////////////////////////////////////////////// */
/* // 						TEXTOS LEGALES										  // */
/* ///////////////////////////////////////////////////////////////////////////////// */

.parrafo_txtLeg {
	width: 711px; 
	height: 36px;
}

.parrafo_txtLeg .bloque_izq {
	width: 40%; 
	height:21px; 
	float:left; 
	text-align:left; 
	margin-bottom:4px;
}

.parrafo_txtLeg .bloque_der {
	width:60%;
	height:16px;
	float:right;
	padding-top: 8px;
}

/* ///////////////////////////////////////////////////////////////////////////////// */
/* // 						ESTILOS PARA TABLAS									  // */
/* ///////////////////////////////////////////////////////////////////////////////// */

.tabla_general2 {clear: both;font-family: Verdana,Arial,Helvetica,sans-serif;font-size: 11px;font-size-adjust: none;font-stretch: normal;font-style: normal;height: 1%;line-height: normal;margin: 10px 10px 10px 0; overflow: hidden;width: 711px;}
.tabla_general2 .fila_titulo2 {background-color: #E4CEA9;float: left;height: auto;padding-bottom: 2px;padding-top: 2px;width: 711px;}
.tabla_general2 .fila_titulo2 .col2 {border-right: 1px solid #FFFFFF;color: #464646;float: left;font-weight: bold;margin-top: 2px;padding-bottom: 2px;padding-left: 10px;padding-top: 2px;text-align: left;}
.tabla_general2 .fila2 {border-bottom: 1px dashed #E4CEA9;color: #555555;float: left;height: auto;width: 711px;}
.tabla_general2 .fila2 .col2 {border: medium none;color: #555555;float: left;font-weight: normal;margin-top: 2px;padding-bottom: 2px;padding-left: 10px;padding-top: 2px;}

.tabla_general3 {clear: both;font-family: Verdana,Arial,Helvetica,sans-serif;font-size: 11px;font-size-adjust: none;font-stretch: normal;font-style: normal;height: 1%;line-height: normal;margin: 10px 10px 10px 0; overflow: hidden;width: 711px;}
.tabla_general3 .fila_titulo3 {background-color: #E4CEA9;float: left;height: auto;padding-bottom: 2px;padding-top: 2px;width: 711px;}
.tabla_general3 .fila_titulo3 .col3 {border-right: 1px solid #FFFFFF;color: #464646;float: left;font-weight: bold;margin-top: 2px;padding-bottom: 2px;padding-left: 10px;padding-top: 2px;text-align: left;}
.tabla_general3 .fila3 {border-bottom: 1px dashed #E4CEA9;color: #555555;float: left;height: auto;width: 711px;}
.tabla_general3 .fila3 .col3 {border: medium none;color: #555555;float: left;font-weight: normal;margin-top: 2px;padding-bottom: 2px;padding-left: 10px;padding-top: 2px;}

.tabla_general4 {clear: both;font-family: Verdana,Arial,Helvetica,sans-serif;font-size: 11px;font-size-adjust: none;font-stretch: normal;font-style: normal;height: 1%;line-height: normal;margin: 10px 10px 10px 0; overflow: hidden;width: 711px;}
.tabla_general4 .fila_titulo4 {background-color: #E4CEA9;float: left;height: auto;padding-bottom: 2px;padding-top: 2px;width: 711px;}
.tabla_general4 .fila_titulo4 .col4 {border-right: 1px solid #FFFFFF;color: #464646;float: left;font-weight: bold;margin-top: 2px;padding-bottom: 2px;padding-left: 10px;padding-top: 2px;text-align: left;}
.tabla_general4 .fila4 {border-bottom: 1px dashed #E4CEA9;color: #555555;float: left;height: auto;width: 711px;}
.tabla_general4 .fila4 .col4 {border: medium none;color: #555555;float: left;font-weight: normal;margin-top: 2px;padding-bottom: 2px;padding-left: 10px;padding-top: 2px;}


/* ///////////////////////////////////////////////////////////////////////////////// */
/* // 						ESTILOS PARA LA FIRMA 								  // */
/* ///////////////////////////////////////////////////////////////////////////////// */

.encabezadoFirma {
    background: url("../index_files/fondo-h1-pa_a.gif") no-repeat scroll left top transparent;
    background-position: 0px 25px;
    font-size: 25px;    
	padding-top: 20px;
	padding-bottom: 20px;  
}  

/* ///////////////////////////////////////////////////////////////////////////////// */
/* // 						ESTILOS PARA LAS OPERACIONES FAVORITAS				  // */
/* ///////////////////////////////////////////////////////////////////////////////// */

div#operationTitleData .favorite a:link, div#operationTitleData .favorite a:visited {
    color: #555555;
    text-decoration: underline;
}

div#operationTitleData .favorite a:hover {
    color: #A42B48;
    text-decoration: underline;
}

#favoritosImagen, #favoritosLink{
	float:right;
	padding-top:0px;
	padding-right: 5px;
	cursor: pointer;
}

/* ///////////////////////////////////////////////////////////////////////////////// */
/* // 						ESTILOS PARA CAMPAÑAS 								  // */
/* ///////////////////////////////////////////////////////////////////////////////// */

div#mainXtra .headPubli {
    background: url("../index_files/onlyHeadPubli-pa_a.gif") no-repeat scroll 0 0 transparent;
    height: 38px;
    width: 990px;
}

/* ///////////////////////////////////////////////////////////////////////////////// */
/* // 						ESTILOS NUEVOS a partir del 04-10-11				  // */
/* ///////////////////////////////////////////////////////////////////////////////// */

.encabezadoMult .texto, .encabezadoModal .texto, .encabezadoOperativas .texto, .encabezadoFirma .texto {
	color: #A42B48;
}

div#mainXtra .listLeft .colText {
    color: #A42B48;
    font-size: 11px;
    font-weight: bold;
}

/* ///////////////////////////////////////////////////////////////////////////////// */
/* // 						ESTILOS ENLACE HOME									  // */
/* ///////////////////////////////////////////////////////////////////////////////// */
.enlaceHome {
    color: #A42B48;
    text-decoration: none;    
}

.imagenHome {
    border: 0px;
}


/* ///////////////////////////////////////////////////////////////////////////////// */
/* // 						ESTILOS ICONOS Y OTROS								  // */
/* ///////////////////////////////////////////////////////////////////////////////// */

.treeview div.expandable-hitarea, .treeview div.expandable, .treeview div.lastExpandable {
	background: transparent url(../index_files/list-bullet-horizontal-pa_a.gif) no-repeat scroll 0 0;
	margin-right: 5px;
}

.treeview div.noExpandable-hitarea {
	background: transparent url(../index_files/list-bullet-10-pa_a.gif) no-repeat scroll 0 0;
	margin-right: 5px;
}

div#pagina .leftMenu .questions .content {
	background: url(../index_files/circulo-pa_a.gif) top left no-repeat;
	margin-top: 7px;
	padding-left: 13px;
}

.treeview div.collapsable-hitarea, .treeview div.collapsable, .treeview div.lastCollapsable, .treeview div.lastCollapsable-hitarea {
	background: transparent url(../index_files/list-bullet-down-pa_a.gif) no-repeat scroll 0 0;
	margin-right: 5px;
}

div#operationTitleData .content .frame .title {
	color: #A42B48;
}

div#pagina .leftMenu #goHome a:link, div#pagina .leftMenu #goHome a:visited {
	color: #A42B48;
}

.treeview li a, .treeview li a:visited {
	color: #A42B48;
}

.treeview li li a:hover, .treeview li li a:focus {
	color: #A42B48;
}

div#leftMenuTitle {
	color: #A42B48;
}

div#pagina .leftMenu .questions .content a:hover, div#pagina .leftMenu .questions .content a:focus {
	color: #A42B48;
}

/* Copiado de template.css y modificado para quitar la negrita */
div#breadsCrumbs{
	float: left;
	margin-left: 12px;
	padding-bottom: 3px;
	padding-top: 2px;
	color: #777777;
	font-size: 11px;
	font-weight: normal;
}


div#breadsCrumbs a:hover {
	color:#A42B48;
}

div#operationTitleData .favorite a:hover, div#operationTitleData .favorite a:focus {
	color: #A42B48;
}

div#operationTitleData .content .frame .body .text a:hover, div#operationTitleData .content .frame .body .text a:focus {
	color: #A42B48;
}

div#operationTitleData .content .frame .footer .contract a:link, div#operationTitleData .content .footer .contract a:visited {
	color: #A42B48;
}

div#operationTitleData .content .frame .footer .contract a:hover, div#operationTitleData .content .footer .contract a:focus {
	color: #A42B48;
}

div#operationTitleData .content .frame .footer .balance a:link, div#operationTitleData .content .footer .balance a:visited {
	color: #A42B48;
}

div#operationTitleData .content .frame .footer .balance a:hover, div#operationTitleData .content .footer .balance a:focus {
	color: #A42B48;
}
div#operationTitleData .content .frame .footer .owner a:link, div#operationTitleData .content .footer .owner a:visited {
	color: #A42B48;
}

div#operationTitleData .content .frame .footer .owner a:hover, div#operationTitleData .content .footer .owner a:focus {
	color: #A42B48;
}

div#operationTitleData .content .frame .footer #titleFooter {
	color: #A42B48;
	font-weight: bold; /* Se pone negrita a los titulos del footer */
}

.puntosbancad, .titleAlert, .titleFavorite {
	color: #bf1c3a;
}

/* ///////////////////////////////////////////////////////////////////////////////// */
/* // 				 THICKBOX OP. FAVORITAS CREATEVETICALITE					  // */
/* ///////////////////////////////////////////////////////////////////////////////// */

#thickboxFav {
	width:250px;	
	background-color: #F3EEDD;
	border:1px solid #D0BC76;
	color: #5B491F;
	font-size:10px;
	padding: 6px 15px 6px 10px;
	top:95px;
	left:725px;
	position:absolute;
	display:none;
	z-index:1;
}

/* ///////////////////////////////////////////////////////////////////////////////// */
/* // 				 CAMPAÑA HIPOTECA PREMIUM ECOM          					  // */
/* ///////////////////////////////////////////////////////////////////////////////// */
.elementButtonCampanaECOM {
    /* Estilo no necesario en pa_a */
}

.botonCampanaECOM {
    /* Estilo no necesario en pa_a */
}

/* ///////////////////////////////////////////////////////////////////////////////// */
/* // 				 ENLACE DESCONECTAR CON IMAGEN          					  // */
/* ///////////////////////////////////////////////////////////////////////////////// */
.imagendesconectar {
	border:none;
	text-decoration:none;
	margin-bottom:-1px;
}

/* /////////////////////////////////////////////////////// */
/* // 			 Gestion de recibos ACTIVA      		 / */
/* /////////////////////////////////////////////////////// */

.imagenesActivaStyle{
	background-image:url('../index_files/PestanaActivaParticulares.gif');
	height:20px;
	.height:10px;
	width:180px;
} 

.imagenesActivaName{
	color: #FFFFFF;
	height:20px;
	.height:17px; 
	font-weight:bold;
	margin-left: 10px;
} 


/* /////////////////////////////////////////////////////// */
/* // 			 Gestion de recibos INACTIVA      		 / */
/* /////////////////////////////////////////////////////// */

.imagenesInactivaLoadStyle{
	background-image:url('../index_files/PestanaInactivaParticulares.gif');
	height:20px;
	.height:10px;
	width:180px;
}

.imagenesInactivaName{
	color : "#9B8D68";
	height:20px;
	.height:17px;
	font-weight:bold;
	margin-left: 10px;
}

.lineSub{
	width:711px;
	float:left;
	margin-top:-1px;
	.margin-top:-10px;
	border-bottom-color: #B49870;
	border-bottom-style: solid;
	border-bottom-width: 1px;;
}

/* /////////////////////////////////////////////////////// */ 
/* // 			Estilos OFICINA DIRECTA		     		 / */
/* /////////////////////////////////////////////////////// */

.ctrmultvisible {
}

/* /////////////////////////////////////////////////////// */ 
/* // 			Usuario delegado en Combo	     		 / */
/* /////////////////////////////////////////////////////// */

.ctrmultUsuDele {
	display:none;
}


/* RollOver para los alias largos */
a label:hover{
	cursor: pointer;
}
