/* CSS Document */

body
{
	margin:0;
	padding:0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
}


div#mainXtra 
{
	margin: 0 auto;
	width: 990px;
}

div#mainXtra .head
{
	background: url(/esp/gbp/bin/img/onlyHead.gif) no-repeat;
	width: 990px;
	height: 116px;
}

div#mainXtra .headPubli
{
	background: url(/esp/gbp/bin/img/onlyHeadPubli.gif) no-repeat;
	width: 990px;
	height: 38px;
}

div#mainXtra .boxBacground
{
	float: left;
	background: url(/esp/gbp/bin/img/only-background.gif) left top repeat-y;
	width: 990px;
}

div#mainXtra .listLeft
{
	float: left;
	width: 925px;
	min-height: 410px;
}

div#mainXtra .listRight
{
	float: left;
	width: 65px;
	min-height: 410px;
	/*background: url(/esp/gbp/bin/img/login-background-list-right.gif) left top repeat-y;*/
}

div#mainXtra .footer
{
	clear: left;
	width: 990px;
	height: 127px;
	background: url(/esp/gbp/bin/img/only-footer.gif) no-repeat;
}


/*****************************************************************************************************************/

div#mainXtra .listLeft .title
{
	background: transparent url(/esp/gbp/bin/img/fondo-h1.gif) no-repeat scroll left top;
	color: #A42B48;
	font-size: 25px;
	padding-bottom: 20px;
	margin-left: 165px;
	padding-left: 55px;
}

#mainXtra .listLeft .title .subTitle
{
	font-size: 20px;
}

div#mainXtra .listLeft .relBar
{
	margin-left: 221px;
	height: 34px;
}

div#mainXtra .listLeft .relBar .text
{
	padding-top: 3px;
	font-size: 11px;
	float: left;
}

div#mainXtra .listLeft .relBar .text a, div#mainXtra .listLeft .relBar .text a:visited
{
	color: #666666;
	text-decoration: underline;
}

div#mainXtra .listLeft .relBar .text a:hover, div#mainXtra .listLeft .relBar .text a:focus
{
	color: #A42B48;
	text-decoration: underline;
}


div#mainXtra .listLeft .relBar .separator
{
	float: left;
	height: 24px;
	margin: 0 2px;
}

div#mainXtra .listLeft .box
{
	clear: both;
	margin-left: 220px;
	width: 565px;
}

div#mainXtra .listLeft .box .head
{
	width: 565px;
	height: 13px;
}

div#mainXtra .listLeft .box .content
{
	height: 172px;
	background: url(/esp/gbp/bin/img/only-box-background.gif) repeat-y;
}

div#mainXtra .listLeft .box .footer
{
	width: 565px;
	height: 22px;
}


div#mainXtra .listLeft .box .content .leftPart
{
	float: left;
	width: 145px;
	height: 172px;
}

div#mainXtra .listLeft .box .content .leftPart .icon
{
	width: 94px;
	height: 47px;
	padding-top: 44px;
	padding-left: 51px;
}

div#mainXtra .listLeft .box .content .leftPart .text
{
	padding-left: 45px;
	font-size: 11px;
}

div#mainXtra .listLeft .box .content .lineVertical
{
	float: left;
	width: 1px;
	height: 162px;
	background-color: #f0c1ca;
	margin-top: 2px;
	margin-bottom: 8px;
}

div#mainXtra .listLeft .box .content .formContent
{
	float: right;
	width: 419px;
	_width: 400px;
	height: 156px;
	margin-top: 16px;
	_border: 0px solid #000000;
}

div#mainXtra .listLeft .box .content .formContent .text
{
	float: left;
	font-size: 11px;
	margin-right: 17px;
	margin-top: 3px;
	text-align: right;
	width: 150px;
	_width: 135px;
}

div#mainXtra .listLeft .box .content .formContent .element
{
	float: left;
	margin-bottom: 5px;
	_margin-bottom: 3px;

}

div#mainXtra .listLeft .box .content .formContent .elementButton
{
	clear: both;
	float: right;
	margin-right: 84px;
	_margin-right: 28px;
	margin-top: 7px;
	_margin-top: 5px;
}

input.loginElement
{
	width: 163px;
	_width: 156px;
}


div#mainXtra .listLeft .box .content .formContent .link
{

	float: right;
	font-size: 10px;
	margin-right: 149px;
	_margin-right: 73px;
	margin-bottom: 10px;
	margin-top: -5px;
	_margin-top: -3px;
	_width: 104px;
}


div#mainXtra .listLeft .box .content .formContent .link a, div#mainXtra .listLeft .box .content .formContent .link a:visited, div#mainXtra .listLeft .box .content .formContent .textDNI a, div#mainXtra .listLeft .box .content .formContent .textDNI a:visited
{
	color: #666666;
	text-decoration: underline;
}

div#mainXtra .listLeft .box .content .formContent .link a:hover, div#mainXtra .listLeft .box .content .formContent .link a:focus, div#mainXtra .listLeft .box .content .formContent .textDNI a:hover, div#mainXtra .listLeft .box .content .formContent .textDNI a:focus
{
	color: #A42B48;
	text-decoration: underline;
}

div#mainXtra .listLeft .box .content .formContent .icoDNI
{
	float: left;
	margin-top: 7px;
	_margin-top: 23px;
	margin-left: 17px;
	_margin-left: 3px;
}

div#mainXtra .listLeft .box .content .formContent .textDNI
{
	float: left;
	margin-top: 15px;
	_margin-top: 27px;
	margin-left: 10px;
	font-size: 10px;
	/*width: 147px;*/
}

div#mainXtra .listLeft .lineHorizontal
{
	height: 1px;
	border-bottom: 1px dashed #df8d9c;
	margin: 8px 57px 15px 143px;
}

div#mainXtra .listLeft .explanatoryText
{
	font-size: 11px;
	margin-left: 221px;
	margin-bottom: 20px;
}

div#mainXtra .listLeft .contractSelect
{
	font-size:12px;
	margin:8px 0 0 121px;
}

div#mainXtra .listLeft .colText
{
	float: left;
	color: #bf1c3a;
	font-size: 11px;
	font-weight: bold;
	/*margin:8px 0 0 121px;*/
}

div#mainXtra .listLeft .lineData
{
	clear: both;
	border-bottom: 1px solid #ebebeb;
	margin: 0 57px 0 121px;
	padding-top: 10px;
}

div#mainXtra .listLeft .colData
{
	float: left;
	font-size: 11px;
	margin-top: 10px;
}

div#mainXtra .listLeft .colDataCon
{
	float: left;
	font-size: 11px;
	margin-top: 10px;
	width: 215px; 
	margin-left: 120px ;
	
	
  	_margin-left:60px;
	
	
	
	
}


/* ///////////////////////////////////////////////////////////////////////////////// */
/* // 							     Cabecera de datos 							  // */
/* ///////////////////////////////////////////////////////////////////////////////// */

div#operationTitleData
{
	width: 772px;
	margin-left: 109px;
}

div#operationTitleData .content
{
	clear: both;
	width: 746px;
	padding-bottom: 5px;
	padding-top: 2px;
	padding-left: 12px;
	padding-right: 16px;
	overflow: hidden;
	_padding-left: 11px;
	_padding-right: 15px;
}

div#operationTitleData .content .headOperation
{
	width: 746px;
	height: 12px;
}

div#operationTitleData .content .frame
{
	clear:both;
	_float: left;
	background: url(/esp/gbp/bin/img/pinkBackground.gif) top left repeat-y;
	padding: 0 5px 0 1px;
	width: 746px;
	height: 20px;
	/*height: 80px;*/
}

div#operationTitleData .content .down
{
	width: 746px;
	height: 16px;
	
	background-image: url(/esp/gbp/bin/img/downPink.png) !important;
 	background-image: none;
 	filter: none !important;
 	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/esp/gbp/bin/img/downPink.png);
	
}

div#operationTitleData .content .frame .nameUser
{
	float: left;
	color: #A42B48;
	font-size: 11px;
	font-weight: bold;
	margin: 0 0 5px 25px;
	_margin: 0 0 5px 25px;
	background: none;
}

div#operationTitleData .content .frame .date
{
	float: right;
	font-size: 11px;
	margin: 0 12px 5px 0;
}

div#operationTitleData .content .frame .searchTitle
{
	font-size: 11px;
	margin: 6px 0 5px 11px;
}

div#operationTitleData .content .frame .seeAll
{
	float: right;
	font-size: 11px;
	margin: -18px 14px 0 0;
	_margin: -20px 8px 0 0;
}

div#operationTitleData .content .frame .searchData
{
	float: left;
	font-size: 11px;
	margin: 5px 0 5px 11px;
	_margin: 5px 0 5px 6px;
}

div#operationTitleData .content .frame .searchSubmit
{
	float: left;
	margin-top: 1px;
	_margin-top: 3px;
}

input 
{ 
	font-size: 11px; 
}
select 
{
	font-size: 11px;
}

div#operationTitleData .content .frame .break
{
	clear:both;
	width: 722px;
	height: 1px;
	background-color: #f1c8d0;
	margin: 0 14px 0 10px;
}

div#operationTitleData .content .frame .footer
{
	/*background: url(/esp/gbp/bin/img/operation-title-footer.gif) bottom left no-repeat;*/
	color: #555555;
	font-size: 11px;
	font-weight: bold;
	width: 741px;
	height: 44px;
}


div#operationTitleData .content .frame .footer .owner
{
	float: left;
	padding: 5px 0 0 13px;
}

div#operationTitleData .content .frame .footer .contract
{
	float: left;
	/*padding: 5px 0 0 66px;*/
	padding: 5px 0 0 50px;
}

div#operationTitleData .content .frame .footer .contract a:link, div#operationTitleData .content .footer .contract a:visited
{
	color: #A42B48;
	text-decoration: none;
}

div#operationTitleData .content .frame .footer .contract a:hover, div#operationTitleData .content .footer .contract a:focus
{
	color: #A42B48;
	text-decoration: underline;
}

div#operationTitleData .content .frame .footer .modality
{
	float: left;
	/*padding: 5px 0 0 66px;*/
	padding: 5px 0 0 50px;
}

div#operationTitleData .content .frame .footer .balance
{
	float: right;
	padding: 5px 13px 0 0;
	text-align: right;
}

div#operationTitleData .content .frame .footer #titleFooter
{
	color: #A42B48;
	margin-bottom: 3px;
}

/* ///////////////////////////////////////////////////////////////////////////////// */
/* // 									WARNING									  // */
/* ///////////////////////////////////////////////////////////////////////////////// */

#warning
{
	float: left;
	width: 711px;
	height: auto;
	background-color: #ffffbf;
	/*border: 1px solid #d2240b;*/
	border: 1px solid #A42B48;
	margin: 0 0 20px 138px;
	_margin: 0 0 20px 68px;
	display: none;
}

#warning .imagen
{
	float: left;
	background: url(/esp/gbp/bin/img/warning.gif) no-repeat;
	width: 77px;
	height: 71px;
	_height: 75px;
	margin: 5px 5px 5px 5px;
	_margin: 5px 5px 5px 3px;
}

#warning .text
{
	float: left;
	width: auto;
	height: auto;
	font-family: 'Arial'; 
	color: #000000; 
	font-size: 10pt;
	margin: 10px 0 0 5px;
}

.textError
{
	color: #D2240B;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
}

/* ///////////////////////////////////////////////////////////////////////////////// */
/* // 						FIN ESTILOS	WARNING									  // */
/* ///////////////////////////////////////////////////////////////////////////////// */